<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="container-flex mbc-4">
                <div class="container-one">
                    <i
                        class="pi pi-arrow-left cursor-pointer mr-4"
                        style="font-size: 24px"
                        (click)="onClickBackButton()"
                    ></i>
                    <p class="title-first">Form Detail</p>
                </div>

            </div>
            <img [src]="newDataSource1.url_c1" width="200px">
            <div style="margin-top: 40px;" *ngFor="let spritNamaCalon of spritNamaCalons let i = index">
                <p>nama_paslon: {{ spritNamaCalon }}</p>
                <p>Total Suara: {{ spritTotalSuara[i] }}</p>
            </div>
        </div>
    </div>
</div>