<div class="grid">
    <div class="col-6">
        <div class="card px-6 py-6">
            <img src="{{ defaultC1 }}" alt="Profile Picture" class="profile-pic">

            <h2 class="text-center mb-6">My Profile</h2>

            <div>
                <div class="d-flex">
                    <p class="name" class="text-center" style="margin: 0px; margin-right: 32px;">Email </p>
                    <p class="name" class="text-center" style="margin: 0px;">{{ 'test@gmail.com' }}</p>
                </div>
                <hr class="divider">
            </div>

            <div>
                <div class="d-flex">
                    <p class="name" class="text-center" style="margin: 0px; margin-right: 32px;">Email </p>
                    <p class="name" class="text-center" style="margin: 0px;">{{ 'test@gmail.com' }}</p>
                </div>
                <hr class="divider">
            </div>

            <div>
                <div class="d-flex">
                    <p class="name" class="text-center" style="margin: 0px; margin-right: 32px;">Role </p>
                    <p class="name" class="text-center" style="margin: 0px;">Admin</p>
                </div>
                <hr class="divider">
            </div>

            <div>
                <div class="d-flex">
                    <p class="name" class="text-center" style="margin: 0px; margin-right: 32px;">Area TPS </p>
                    <p class="name" class="text-center" style="margin: 0px;">Sejahtera</p>
                </div>
                <hr class="divider">
            </div>
        </div>
    </div>
</div>