
.center-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; 
    text-align: center; 
    margin: 0 16px;
  }

  .no-data-column {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh; 
    text-align: center; 
    margin: 0 16px;
  }

  .paragraph-no-column {
    font-size: 16px;
  }