<p-toast key="tst"></p-toast>
<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="container-flex mbc-4">
                <div class="container-one">
                    <i
                        class="pi pi-arrow-left cursor-pointer mr-4"
                        style="font-size: 24px"
                        (click)="onClickBackButton()"
                    ></i>
                    <p class="title-first">{{ title }}</p>
                </div>

                <div class="container-two">
                    <button
                        pButton
                        pRipple
                        type="button"
                        label="Batal"
                        (click)="onClickBackButton()"
                        class="p-button-outlined mr-2 wc-180"
                    ></button>

                    <button
                        pButton
                        pRipple
                        type="button"
                        [label]="btnTitle"
                        class="p-button-success wc-180"
                        (click)="onSubmit()"
                        [disabled]="!formGroup.valid"
                    >
                    </button>
                </div>
            </div>

            <form [formGroup]="formGroup">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12">
                        <label htmlFor="id_kecamatan"
                            >Logo</label
                        >
                        <p-fileUpload mode="basic" name="logo[]" [auto]="true" chooseLabel="Browse"></p-fileUpload>
                    </div>

                    <div class="field col-12">
                        <label htmlFor="partai"
                            >partai <span class="sp-req">*</span></label
                        >
                        <input
                            pInputText
                            id="partai"
                            type="text"
                            formControlName="partai"
                        />
                        <div
                            *ngIf="
                                formGroup.get('partai')
                                    .invalid &&
                                formGroup.get('partai').touched
                            "
                            class="error-form"
                        >
                            Partai required
                        </div>
                    </div>

                    <div class="field col-12">
                        <label htmlFor="Keterangan"
                            >Keterangan <span class="sp-req">*</span></label
                        >
                        <textarea rows="5" cols="30" pInputTextarea formControlName="keterangan"></textarea>
                        <div
                            *ngIf="
                                formGroup.get('keterangan')
                                    .invalid &&
                                formGroup.get('keterangan').touched
                            "
                            class="error-form"
                        >
                            Keterangan required
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>