<p-toast key="tst"></p-toast>
<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="container-flex mbc-4">
                <div class="container-one">
                    <i
                        *ngIf="!isEditable"
                        class="pi pi-arrow-left cursor-pointer mr-4"
                        style="font-size: 24px"
                        (click)="onClickBackButton()"
                    ></i>
                    <p class="title-first">{{ title }}</p>
                </div>

                <div class="container-two" *ngIf="isEditable">
                    <button
                        pButton
                        pRipple
                        type="button"
                        [label]="moreBtn"
                        (click)="onClickBackButton()"
                        class="p-button-outlined mr-2 wc-180"
                    ></button>

                    <button
                        pButton
                        pRipple
                        class="p-button-success wc-180 btn-flex-center"
                        *ngIf="loading"
                    >
                        <i
                            class="pi pi-spin pi-spinner"
                            style="font-size: 2rem"
                        ></i>
                    </button>

                    <button
                        pButton
                        pRipple
                        type="button"
                        [label]="btnTitle"
                        class="p-button-success wc-180"
                        (click)="onSubmit()"
                        *ngIf="!loading"
                        [disabled]="!formGroup.valid"
                    ></button>
                </div>

                <div class="container-two" *ngIf="actionKey === viewSuaraActionKey && this.role === 'admin' || this.role === 'superadmin'">
                    <button
                        pButton
                        pRipple
                        type="button"
                        [label]="moreBtn"
                        [disabled]="action_status"
                        (click)="changeStatusLapor('ditolak')"
                        class="p-button-outlined mr-2 wc-180"
                    ></button>

                    <button
                        pButton
                        pRipple
                        type="button"
                        [label]="btnTitle"
                        [disabled]="action_status"
                        (click)="changeStatusLapor('diterima')"
                        class="p-button-success wc-180"
                    ></button>
                </div>
            </div>

            <div *ngIf="!isEditable; else editSuara">
                <div class="d-flex justify-between">
                    <div class="section-first">
                        <label class="font-s-18px">Foto C1 </label>
                        <div class="mt-4">
                            <img [src]="dataPars.data.url_c1" width="200px" />
                        </div>
                    </div>

                    <div class="section-second" *ngIf="this.dataPars['data'].status_suara">
                        <p class="font-s-18px">Status Laporan </p>
                        <button
                            pButton
                            pRipple
                            type="button"
                            [label]="status_laporan"
                            [disabled]="true"
                            [ngClass]="(status_laporan == 'Diterima') ? 'p-button-rounded p-button-success' : 'p-button-rounded p-button-danger'"
                        ></button>
                    </div>
                </div>
                <div
                    style="margin-top: 40px"
                    *ngFor="
                        let suara_calon of dataPars['data']?.suara_calons;
                        let i = index
                    "
                >
                    <img [src]="suara_calon.calon.url_foto" width="200px" />
                    <p class="mt-4">Nama Paslon: {{ suara_calon.calon.nama_calon }}</p>
                    <p>Total Suara: {{ suara_calon.total_suara }}</p>
                </div>
            </div>

            <ng-template #editSuara>
                <form [formGroup]="formGroup">
                    <div class="p-fluid p-formgrid grid" formArrayName="calons">
                        <ng-container *ngFor="let calon of calonList; let i = index" >
                            <ng-container [formGroupName]="i">
                                <div class="field col-12 md:col-6">
                                    <label>Calon/Partai {{ i+1 }}</label>
                                    <div class="image-paslon">
                                        <img src="{{ calon.url_foto}}">
                                    </div>
                                </div>
    
                                <div class="field col-12 md:col-6">
                                    <label htmlFor="suara_sah">Suara Sah {{ i+1 }}<span class="sp-req">*</span></label>
                                    <input pInputText id="suara_sah" type="text" formControlName="suara_sah">
                                    <div class="error-form" *ngIf="formGroup.get('calons.' + i + '.suara_sah').invalid && 
                                                (formGroup.get('calons.' + i + '.suara_sah').dirty || 
                                                formGroup.get('calons.' + i + '.suara_sah').touched)">
                                        Suara Sah harus diisi
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                        <div class="field col-12">
                            <label htmlFor="foto"
                                >Foto <span class="sp-req">*</span></label
                            >
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile" (change)="uploadFile($event)">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
    
                            <div
                                *ngIf="
                                    formGroup.get('foto')
                                        .invalid &&
                                    formGroup.get('foto')
                                        .touched
                                "
                                class="error-form"
                            >
                                Foto required
                            </div>
                        </div>
                    </div>
                </form>
            </ng-template>
        </div>
    </div>
</div>
