<p-toast key="tst"></p-toast>
<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="container-flex mbc-4">
                <div class="container-one">
                    <i
                        class="pi pi-arrow-left cursor-pointer mr-4"
                        style="font-size: 24px"
                        (click)="onClickBackButton()"
                    ></i>
                    <p class="title-first">{{ title }}</p>
                </div>
                    
                <div class="container-two">
                    <button
                        pButton
                        pRipple
                        type="button"
                        label="Batal"
                        (click)="onClickBackButton()"
                        class="p-button-outlined mr-2 wc-180"
                    ></button>

                    <button
                        pButton
                        pRipple
                        class="p-button-success wc-180 btn-flex-center"
                        *ngIf="loading"
                    >
                        <i
                            class="pi pi-spin pi-spinner"
                            style="font-size: 2rem"
                        ></i>
                    </button>

                    <button
                        pButton
                        pRipple
                        type="button"
                        [label]="btnTitle"
                        class="p-button-success wc-180"
                        *ngIf="!loading"
                        (click)="onSubmit()"
                        [disabled]="!formGroup.valid"
                    ></button>
                </div>
            </div>

            <form [formGroup]="formGroup">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12">
                        <label htmlFor="kd_kabupaten"
                            >Kode TPS <span class="sp-req">*</span></label
                        >
                        <input
                            pInputText
                            id="kd_kabupaten"
                            type="text"
                            formControlName="kode_tps"
                        />

                        <div
                            *ngIf="
                                formGroup.get('kode_tps')
                                    .invalid &&
                                formGroup.get('kode_tps')
                                    .touched
                            "
                            class="error-form"
                        >
                            Kode TPS required
                        </div>
                    </div>
                    <div class="field col-12">
                        <label htmlFor="kabupaten"
                            >Nama TPS <span class="sp-req">*</span></label
                        >
                        <input
                            pInputText
                            id="kabupaten"
                            type="text"
                            formControlName="nama_tps"
                        />
                        <div
                            *ngIf="
                                formGroup.get('nama_tps')
                                    .invalid &&
                                formGroup.get('nama_tps').touched
                            "
                            class="error-form"
                        >
                            Nama TPS required
                        </div>
                    </div>
                    <div class="field col-12">
                        <label htmlFor="kelurahaId"
                            >Kelurahan <span class="sp-req">*</span></label
                        >
                        <p-dropdown formControlName="kelurahaId" [options]="dropdownItems" optionLabel="name"></p-dropdown>
                        <div
                            *ngIf="
                                formGroup.get('kelurahaId')
                                    .invalid &&
                                formGroup.get('kelurahaId')
                                    .touched
                            "
                            class="error-form"
                        >
                            Kelurahan required
                        </div>
                    </div>
                    <div class="field col-12">
                        <label htmlFor="jml_kursi"
                            >Max Surat Suara <span class="sp-req">*</span></label
                        >
                        <input
                            pInputText
                            id="jml_kursi"
                            type="text"
                            formControlName="max_surat_suara"
                        />
                        <div
                            *ngIf="
                                formGroup.get('max_surat_suara')
                                    .invalid &&
                                formGroup.get('max_surat_suara')
                                    .touched
                            "
                            class="error-form"
                        >
                            Max Surat Suara required
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
