<p-toast key="tst"></p-toast>
<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="container-flex mbc-4">
                <div class="container-one">
                    <i
                        class="pi pi-arrow-left cursor-pointer mr-4"
                        style="font-size: 24px"
                        (click)="onClickBackButton()"
                    ></i>
                    <p class="title-first">{{ title }}</p>
                </div>

                <div class="container-two">
                    <button
                        pButton
                        pRipple
                        type="button"
                        label="Batal"
                        (click)="onClickBackButton()"
                        class="p-button-outlined mr-2 wc-180"
                    ></button>

                    <button
                        pButton
                        pRipple
                        class="p-button-success wc-180 btn-flex-center"
                        *ngIf="loading"
                    >
                        <i
                            class="pi pi-spin pi-spinner"
                            style="font-size: 2rem"
                        ></i>
                    </button>

                    <button
                        pButton
                        pRipple
                        type="button"
                        [label]="btnTitle"
                        class="p-button-success wc-180"
                        *ngIf="!loading"
                        (click)="onSubmit()"
                        [disabled]="!formGroup.valid"
                    ></button>
                </div>
            </div>

            <form [formGroup]="formGroup">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6">
                        <label htmlFor="id_kabupaten"
                            >Kabupaten <span class="sp-req">*</span></label
                        >
                        <p-dropdown formControlName="id_kabupaten" [options]="dropdownItems" optionLabel="name"></p-dropdown>
                        <div
                            *ngIf="
                                formGroup.get('id_kabupaten')
                                    .invalid &&
                                formGroup.get('id_kabupaten')
                                    .touched
                            "
                            class="error-form"
                        >
                            Kabupaten required
                        </div>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label htmlFor="kode_kecamatan"
                            >Kode Kecamatan <span class="sp-req">*</span></label
                        >
                        <input
                            pInputText
                            id="kode_kecamatan"
                            type="text"
                            formControlName="kode_kecamatan"
                        />

                        <div
                            *ngIf="
                                formGroup.get('kode_kecamatan')
                                    .invalid &&
                                formGroup.get('kode_kecamatan')
                                    .touched
                            "
                            class="error-form"
                        >
                            Kode Kecamatan required
                        </div>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label htmlFor="kecamatan"
                            >Kecamatan <span class="sp-req">*</span></label
                        >
                        <input
                            pInputText
                            id="kecamatan"
                            type="text"
                            formControlName="kecamatan"
                        />
                        <div
                            *ngIf="
                                formGroup.get('kecamatan')
                                    .invalid &&
                                formGroup.get('kecamatan').touched
                            "
                            class="error-form"
                        >
                            Kecamatan required
                        </div>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label htmlFor="jml_dpt"
                            >Jumlah DPT <span class="sp-req">*</span></label
                        >

                        <input
                            pInputText
                            id="jml_dpt"
                            type="text"
                            formControlName="jml_dpt"
                        />
                        <div
                            *ngIf="
                                formGroup.get('jml_dpt')
                                    .invalid &&
                                formGroup.get('jml_dpt')
                                    .touched
                            "
                            class="error-form"
                        >
                            Jumlah DPT required
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>