<p-toast key="tst"></p-toast>
<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="container-flex mbc-4">
                <div class="container-one">
                    <i
                        class="pi pi-arrow-left cursor-pointer mr-4"
                        style="font-size: 24px"
                        (click)="onClickBackButton()"
                    ></i>
                    <p class="title-first">{{ title }}</p>
                </div>

                <div class="container-two">
                    <button
                        pButton
                        pRipple
                        type="button"
                        label="Batal"
                        (click)="onClickBackButton()"
                        class="p-button-outlined mr-2 wc-180"
                    ></button>

                    <button
                        pButton
                        pRipple
                        type="button"
                        [label]="btnTitle"
                        class="p-button-success wc-180"
                        (click)="onSubmit()"
                        [disabled]="!formGroup.valid"
                    ></button>
                </div>
            </div>

            <form [formGroup]="formGroup">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6">
                        <label htmlFor="id_kecamatan"
                            >Kecamatan <span class="sp-req">*</span></label
                        >
                        <p-dropdown formControlName="id_kecamatan" [options]="dropdownItems" optionLabel="name"></p-dropdown>
                        <div
                            *ngIf="
                                formGroup.get('id_kecamatan')
                                    .invalid &&
                                formGroup.get('id_kecamatan')
                                    .touched
                            "
                            class="error-form"
                        >
                            Kecamatan required
                        </div>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label htmlFor="kelurahan"
                            >Kelurahan <span class="sp-req">*</span></label
                        >
                        <input
                            pInputText
                            id="kec"
                            type="text"
                            formControlName="kelurahan"
                        />
                        <div
                            *ngIf="
                                formGroup.get('kelurahan')
                                    .invalid &&
                                formGroup.get('kelurahan').touched
                            "
                            class="error-form"
                        >
                            Kelurahan required
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>